

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/randm.jpg);
    background-size: contain;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  color: #000;
}

#juego div {

  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#juego {
  width: 600px;
  height: 600px;
  background-color: #084978;
  box-sizing: border-box;
}

#juego .pieza {
  float: left;
  width: 199px;
  height: 199px;
  border: 1px solid #000;
  margin: -1px 0 0 -1px;
}

#juego .pieza img {
  width: 100%;
  height: 100%;
}

.tablero:after {
  content: "";
  clear: both;
}

.button {
  outline: none;
  margin: 0 auto;
  width: 100%;
  font-size: 1.3rem;
  margin-top: 2.5rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  color: white;
  border-radius: 12px;
  float: left;
}

button#start-button.button {
  background: linear-gradient(to left,#fe344e,#ff7250);
  display: inline-block;
  /*padding: 1rem 3rem;*/
}

button#reset-button.button {
  background: linear-gradient(to left,#084978,#1d98ad);
  display: none;
  /*padding: 1rem 1.5rem;*/
}

/* Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgb(0,0,0);*/
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #084978;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    font-size: 1.8em;
    font-family: inherit;
    text-align: center;
    color: white;
}

/* Botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
